<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>TravelAgencyAdmin</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <!-- <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file> -->
    
  </welcome-file-list>
  
   <!--  <servlet>
        <servlet-name>EditPost</servlet-name>
        <servlet-class>controle.EditPost</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>DeletePost</servlet-name>
        <servlet-class>controle.DeletePost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditPost</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePost</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping> 
  <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config> -->
  
</web-app>